$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-done: "\e90f";
$icon-youtube: "\e900";
$icon-bag: "\e905";
$icon-map: "\e907";
$icon-location: "\e907";
$icon-chat: "\e908";
$icon-comments: "\e908";
$icon-bubble: "\e908";
$icon-talk: "\e908";
$icon-notebook-text: "\e909";
$icon-mail-envelope-closed: "\e90a";
$icon-menu: "\e910";
$icon-shopping-cart: "\e911";
$icon-shuffle: "\e90d";
$icon-cheveron-down: "\e901";
$icon-cheveron-up: "\e904";
$icon-search: "\e912";
$icon-calendar: "\e90c";
$icon-user: "\e971";
$icon-users: "\e972";
$icon-list-numbered: "\e9b9";
$icon-enter: "\ea13";
$icon-dollar: "\e913";
$icon-usd: "\e913";
$icon-line-chart: "\e90e";

