$aside-color: #1b1f2a;
$aside-color-two: #2d3446;
$aside-text: #788195;

$background-color: #e8ebf2;

$decorate-color: #7f95cb;

$text-color: rgba(0, 0, 0, 0.5);
$form-color: rgba(255, 255, 255, 0.5);
$buttons-color: #d6d6d6;
$icons-color: #1f2431;

$primary-color: #00a474;
$success-color: #7cbc00;
$warning-color: #eed822;
$danger-color: #0042ff;

$error-color: #ff0000;

$warning-valid-color: #ffb20c;
$success-valid-field: #89bd4c;
